/* You can add global styles to this file, and also import other style files */
body.app-body {
  margin: 0px;
  
}

p, input, label, select, button, textarea {
    font-family: "Comfortaa" ;
}

h1{
    font-family: "Bubble Bold";
}

h2{
    font-family: "Bubble";
}

@font-face {
    font-family : Bubble;
    src: url(../public/fonts/bubbleboddy_neue/BubbleboddyNeue-Thin-Trial.ttf);
}

@font-face {
    font-family : Bubble Bold;
    src: url(../public/fonts/bubbleboddy_neue/BubbleboddyNeue-Bold\ Trial.ttf);
}

@font-face {
    font-family : Comfortaa;
    src: url(../public/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

